/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: block; }

.header {
  position: relative;
  background-color: lightgrey;
  height: 30vh;
  min-height: 140px;
  width: 100%; }
  .header .logo {
    display: inline-block;
    max-width: 100px;
    margin-top: 20px;
    margin-left: 5%;
    width: 20%; }
  .header .header-box {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 75%; }
    .header .header-box h1 {
      font-family: 'Alegreya Sans SC', sans-serif;
      letter-spacing: 10px;
      display: block;
      height: 100%;
      line-height: 30vh;
      font-size: 50px;
      text-align: center;
      color: black; }

.login-body {
  background-color: darkgrey; }

.login-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: .7;
  z-index: -1; }

.body_login {
  position: absolute;
  width: 100%;
  height: 70%; }
  .body_login form {
    width: 50%;
    position: absolute;
    top: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25%;
    margin-right: 25%;
    display: block;
    border-radius: 10px;
    box-shadow: 2px 5px 10px lightblue;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, lightgray 0, white 100%); }
    .body_login form .form-group {
      font-size: 20px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin: 0 auto;
      width: fit-content; }
    .body_login form button {
      border: none;
      border-radius: 5px;
      background-color: white; }

header {
  display: block; }

.user_header {
  position: relative;
  background-color: lightgrey;
  height: 40vh;
  min-height: 140px;
  width: 100%; }
  .user_header .topbar {
    background-color: white;
    height: 10%;
    min-height: 25px; }
    .user_header .topbar nav {
      margin-left: 20px;
      display: inline-block; }
      .user_header .topbar nav li {
        margin-top: 3px;
        margin-right: 20px;
        font-family: 'Alegreya Sans SC', sans-serif;
        display: inline-block; }
    .user_header .topbar .side_topbar {
      font-family: 'Alegreya Sans SC', sans-serif;
      display: inline-block;
      float: right;
      margin-right: 20px;
      margin-top: 3px; }
      .user_header .topbar .side_topbar h2 {
        display: inline-block; }
      .user_header .topbar .side_topbar .red {
        color: maroon; }
      .user_header .topbar .side_topbar button {
        display: inline-block; }
  .user_header .user_header-box {
    position: absolute;
    display: inline-block;
    height: 90%;
    width: 100%;
    background-image: url("/images/team_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .user_header .user_header-box h1 {
      font-family: 'Alegreya Sans SC', sans-serif;
      letter-spacing: 10px;
      display: block;
      height: 100%;
      line-height: 30vh;
      font-size: 50px;
      text-align: center;
      color: white; }

body {
  background-color: darkgrey; }

.body_user {
  background-color: darkgrey;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  position: absolute;
  width: 96%;
  height: auto; }

.slider {
  box-shadow: 2px 3px 5px black;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
  position: sticky;
  display: inline-block;
  width: 30%;
  height: 300px;
  top: 30px;
  float: right; }
  .slider div, .slider p, .slider a {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px; }
  .slider .name {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid black; }

.matches {
  box-shadow: 2px 3px 5px black;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
  display: block;
  width: 65%;
  height: 500px; }
  .matches .toprow {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    border-bottom: 5px solid black; }
  .matches .scroll {
    height: 78%;
    width: 100%;
    overflow-y: scroll; }
  .matches .match {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 3px;
    border-style: solid;
    border-color: black; }
    .matches .match p {
      display: inline-block;
      text-decoration: none;
      color: black; }

.user-data {
  box-shadow: 2px 3px 5px black;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
  display: block;
  width: 65%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px; }
  .user-data svg {
    height: 100%;
    width: 100%; }

.body_user {
  background-color: darkgrey;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  position: absolute;
  width: 96%;
  height: auto; }

.data {
  box-shadow: 2px 3px 5px black;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightblue;
  display: block;
  padding-bottom: 20px;
  width: 96%;
  height: auto;
  padding-right: 5px;
  padding-left: 5px; }
  .data .title {
    margin-top: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px; }

.body {
  width: 100%;
  position: absolute;
  top: 33%; }
  .body h1 {
    padding: 10px;
    color: black;
    font-size: 40px;
    font-weight: bold; }
  .body h2 {
    padding: 10px;
    color: black;
    font-size: 30px;
    font-weight: bold; }
  .body h3 {
    margin-bottom: 15px;
    color: black;
    font-size: 25px;
    font-weight: bold; }
  .body p {
    margin-bottom: 10px;
    color: black;
    font-size: 16px; }
  .body .money {
    font-style: italic; }

.table td, .table th {
  padding: 8px;
  border: 4px solid black;
  font-size: 20px; }
.table th {
  font-weight: bold;
  font-size: 25px; }

.card {
  background-color: #CFBD8A;
  border: 1px solid black;
  margin-top: 10px;
  display: inline-block;
  width: 200px;
  padding: 20px;
  box-shadow: 3px 5px lightgrey; }

/*# sourceMappingURL=base.css.map */
