.body {
	width: 100%;
	position: absolute;
	top: 33%;
	h1 {
		padding: 10px;
		color: black;
		font-size: 40px;
		font-weight: bold;
	}
	h2 {
		padding: 10px;
		color: black;
		font-size: 30px;
		font-weight: bold;
	}
	h3 {
		padding: 5px;
		color: black;
		font-size: 25px;
		font-weight: bold;
	}
	p {
		padding: 2px 2px 8px 2px;
		color: black;
		font-size: 16px;
	}
	.money {
		font-style: italic;
	}
}
.table {
	td, th {
		padding: 8px;
		border: 4px solid black;
		font-size: 20px;
	}
	th {
		font-weight: bold;
		font-size: 25px;
	}
}
.card {
	background-color: $color-secondary-1-2;
	border: 1px solid black;
	display: inline-block;
	width: auto;
	padding: 20px;
	box-shadow: 3px 5px lightgrey;
}