header {
	display: block;
}
.header {
	position: absolute;
	height: 33%;
	width: 100%;
	background-image: linear-gradient($color-primary-1, $color-primary-1 70%, $color-secondary-2-3 70%, $color-secondary-2-3 30%);
	.headerBox {
		padding-top: 3.3%;
		padding-left: 20%;
		height: 80%;
		width: 60%;
		color: $color-secondary-2-0;
		img {
			display: inline-block;
			height: 50%;
			margin-bottom: 30px;
			width: 50% height;
		}
		.user {
			display: inline-block;
			padding-top: 10px;
			float: right;

		}
		#logout {
			display: inline-block;
			padding-top: 10px;
			float: right;
		}
	}
	ul {
			position: absolute;
			width: 80%;
			display: flex;
			justify-content: space-between;
			border-radius: 3px;
			background-color: $color-secondary-1-0;
			height: 50px;
			left: 10%;
			top: 65%;
		}
	li {
		display: inline-block;
		height: 50px;
		width: 33%;
		
		a {
			display: block;
			height: 50px;
			margin-left: 1.5%;
			margin-right: 1.5%;
			text-align: center;
			vertical-align: middle;
			line-height: 50px;
			text-decoration: none;
			color: $color-primary-1;
		}
	}
	li:hover {
    	background-color:#000;
    	opacity:0.5;	
    	border-radius: 3px;		
	}
}