$color-primary-0: #AA7339;	// Main Primary color (brown)*/
$color-primary-1: #F4F4F4;  // White
$color-primary-2: #CFAD8A;  // Lighter
$color-primary-3: #854400;  // Darker
$color-primary-4: #603100;  // Darkest

$color-secondary-1-0: #AA8D39;	// Main Secondary color (yellow) */
$color-secondary-1-1: #F4F4F4;  // White
$color-secondary-1-2: #CFBD8A;	// Lighter
$color-secondary-1-3: #856300;	// Darker
$color-secondary-1-4: #604700;  // Darkest

$color-secondary-2-0: #A8383B;	// Main Secondary color (red) */
$color-secondary-2-1: #F2F2F2;  // White
$color-secondary-2-2: #CD898A;  // Lighter
$color-secondary-2-3: #840003;  // Darker
$color-secondary-2-4: #5F0002;  // Darkest