<header>
	<div class="user_header">
		<div class="topbar">
			<nav>
				<ul>
					<li><a href="/leagues">Leagues</a></li>
					<li><a href="/teams">Teams</a></li>
					<li><a href="/tournaments">Tournaments</a></li>
				</ul>
			</nav>
			<div class="side_topbar">
				{{#user}}
					<h2 class="user">{{user}}</h2>
					<button id="logout">logout</button>
				{{/user}}
				<h2 class="red">{{title}}</h2>
			</div>
		</div>
		<div class="user_header-box">
			<h1>{{username}}</h1>
		</div>
	</div>
</header>