{{> _head}}
<style>
.title {
	text-align: center;
}
.cardHolder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
}
.table {
	margin: auto;
	margin-top: 20px;
}
h2 {
	text-align: center;
}
</style>
<body>
	{{> _header}}
	<div class="body">
		<h1 class="title">{{name}}</h1>
		<div class="cardHolder">
			<div class="card">
				<h3>Information</h3>
				<p>Owner: {{owner}}</p>
				<p>{{description}}</p>
				<p class="money">${{entry_fee}}</p>
				<input id="deleteLeague" type="button" value="Delete" data-key="{{key}}">
			</div>
			{{{tournaments}}}
		</div>
		<h2>Teams</h2>
		<table class="table">
			{{{teams}}}
		</table>
		<h2>Requests</h2>
		<table class="table">
			{{{teams_request}}}
		</table>
	</div>
	{{#files}}
	<script type="text/javascript" src="/scripts/{{.}}"></script>
	{{/files}}
</body>
</html>