{{> _head}}
<style>
.title {
	text-align: center;
}
.table {
	margin: auto;
	margin-top: 20px;
}
.data {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%; 
}
</style>
<body>
	{{> _header}}
	<div class="body_user">
		<div class="data">
			<h1 class="title">{{title}}</h1>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>entry_fee</th>
					<th>Description</th>
				</tr>
				{{#leagues}}
					<tr>
						<td><a href='/league/{{id}}'>{{name}}</a></td>
						<td>${{entry_fee}}</td>
						<td>{{description}}</td>
					</tr>
				{{/leagues}}
			</table>
		</div>
	</div>
</body>
</html>