{{> _head}}
<style>
</style>
<body>
  {{> _header}}
  <div class="body_user">
    <form id='leagueForm' data-key='{{key}}'>
      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" id="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="entry_fee">Entry Fee</label>
        <input name="entry_fee" type="number" id="entry_fee">
      </div>
      <div class="form-group">
        <label for="organizer_key">Organizer_key</label>
        <input name="organizer_key" type="text" id="organizer_key">
      </div>
      <input name="owner_id" type="hidden" value="{{id}}">
      <textarea rows="4" cols="50" id="description" name="description" form="leagueForm">Description</textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
  <script type="text/javascript" src="/scripts/{{file}}"></script>
</body>
</html