{{> _head}}
<style>
.title {
	text-align: center;
}
.table {
	margin: auto;
	margin-top: 20px;
}
.data {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%; 
}
</style>
<body>
	{{> _header}}
	<div class="body_user">
		<div class="data">
			<h1 class="title">{{title}} <a href="/teams/new">New</a></h1>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Description</th>
					{{#admin}}
						<th>Actions</th>
					{{/admin}}
				</tr>
				{{#teams}}
					<tr>
						<td><a href='/team/{{id}}'>{{name}}</a></td>
						<td>{{description}}</td>
						{{#admin}}
							<td>
								<a href="/team/{{id}}/edit">Edit</a>
							</td>
						{{/admin}}
					</tr>
				{{/teams}}
			</table>
		</div>
	</div>
	{{#files}}
	<script type="text/javascript" src="/scripts/{{.}}"></script>
	{{/files}}
</body>
</html>