{{> _head}}
<style>
.user-data > p {
	margin-top: 10px;
	margin-left: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 18px;
}
.title {
	text-align: center;
	margin-top: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 25px;
}
.table {
	margin: auto;
	margin-top: 20px;
}
</style>
<body>
	{{> _header}}
	<div class="body_user">
		<div class="slider">
			<h2 class="name">leagues<a href="/team/{{tid}}/join">Join</a></h2>
			<div>
				{{#leagues}}
					<a href='/league/{{id}}'>{{name}}</a>
				{{/leagues}}
			</div>
		</div>
		<div class="data">
			<h1 class="title">{{description}} {{#owner}}<a href="/team/{{tid}}/edit">Edit</a>{{/owner}}</h1>
			<h1 class="title">Players</h1>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Role</th>
					<th>Description</th>
				</tr>
				{{#users}}
					<tr>
						<td><a href='/user/{{id}}'>{{username}}</a></td>
						<td>{{role}}</td>
						<td>{{description}}</td>
					</tr>
				{{/users}}
			</table>
		</div>
	</div>
	{{#files}}
	<script type="text/javascript" src="/scripts/{{.}}"></script>
	{{/files}}
</body>
</html>