{{> _head}}
<style>
</style>
<body>
  {{> _header}}
  <div class="body_user">
    <form id='teamForm'  data-key='{{key}}'>
      <div class="form-group">
        <label for="name">Name</label>
        <input name="name" type="text" id="name" placeholder="Enter name">
      </div>
      <input name="owner_id" type="hidden" value="{{id}}">
      <textarea rows="4" cols="50" id="description" name="description" form="teamForm">Description</textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
  <script type="text/javascript" src="/scripts/{{file}}"></script>
</body>
</html>