{{> _head}}
<style>
.title {
	text-align: center;
}
.table {
	margin: auto;
	margin-top: 20px;
}
</style>
<body>
	{{> _header}}
	<div class="body_user">
		<div class="slider">
			<h2 class="name">{{name}}</h2>
			<p>${{entry_fee}}</p>
			<p>{{start_date}}</p>
			<p>{{end_date}}</p>
			<p>size: {{size}}</p>
			<p>{{type}}</p>
			<p>{{description}}</p>
		</div>
		<div class="data">
			<h1 class="title">Placement</h1>
			<table class="table">
				<tr>
					<th>Place</th>
					<th>Team</th>
					<th>W</th>
					<th>T</th>
					<th>L</th>
					<th>Score</th>
				</tr>
				{{#brack}}
					<tr>
						<td>{{place}}</td>
						<td><a href='/team/{{team_id}}'>{{team}}</a></td>
						<td>{{games_won}}</td>
						<td>{{games_tied}}</td>
						<td>{{games_lost}}</td>
						<td>{{score}}</td>
					</tr>
				{{/brack}}
			</table>
			<h1 class="title">Matches</h1>
			<table class="table">
				<tr>
					<th>Home</th>
					<th>Score</th>
					<th>Away</th>
					<th>Score</th>
					<th>Start</th>
					<th>End</th>
				</tr>
				{{#matches}}
					<tr>
						<td><a href='/team/{{home_id}}'>{{hteam}}</a></td>
						<td>{{home_score}}</td>
						<td><a href='/team/{{away_id}}'>{{ateam}}</a></td>
						<td>{{away_score}}</td>
						<td>{{start_date}}</td>
						<td>{{end_date}}</td>
					</tr>
				{{/matches}}
			</table>
		</div>
	</div>
</body>
</html>